:root {
    --red: rgb(214, 16, 16);
    --orange: rgb(224, 115, 13);
    --yellow: rgb(220, 240, 44);
    --green: rgb(114, 223, 25);
    --lightblue: rgb(35, 222, 255);
    --blue: rgb(0, 95, 150);
    --purple: rgb(179, 53, 184);
    --pink: rgb(245, 75, 126);
    --black: rgb(0, 0, 0);
}

* {
    background-color: silver;
}

.colorSelection {
    width: 50vw;
}

.game {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    /* background-color: rgb(221, 220, 220); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playground {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    background-color: rgb(119, 118, 118);
    margin: 5px;
    max-width: 210px;
    min-width: 190px;
    box-shadow: 2px 2px 1px black ;
}

.codeInput {
    /* flex-direction: column; */
    border-radius: 100%;
    border: 1px solid rgb(136, 97, 47);
    width: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(177, 116, 59);
    position: absolute;
    transform: scale(-1,1);
    box-shadow: -4px 4px 2px rgb(51, 51, 51), 2px -2px rgb(131, 76, 13) inset;
}

:nth-child(1) { --nth-child: 1 }
:nth-child(2) { --nth-child: 2 }
:nth-child(3) { --nth-child: 3 }
:nth-child(4) { --nth-child: 4 }
:nth-child(5) { --nth-child: 5 }
:nth-child(6) { --nth-child: 6 }
:nth-child(7) { --nth-child: 7 }
:nth-child(8) { --nth-child: 8 }
:nth-child(9) { --nth-child: 9 }

.input {
    /* border: 1.5px solid black; */
    left: 40%;
    top: 40%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 10%;
    background-color: black;
    border-radius: 100%;
    transform: rotateZ(calc((var(--nth-child) + 4)*calc(360/10)*1deg))
               translateY(300%)
               rotateZ(calc((var(--nth-child) + 4)*calc(360/10*-1deg)))
}

.dot {
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
}

.input:hover {
    opacity: 60%;
}

.hidden {
    z-index: -1;
}