:root {
    --red: rgb(214, 16, 16);
    --orange: rgb(224, 115, 13);
    --yellow: rgb(220, 240, 44);
    --green: rgb(114, 223, 25);
    --lightblue: rgb(35, 222, 255);
    --blue: rgb(0, 95, 150);
    --purple: rgb(179, 53, 184);
    --pink: rgb(245, 75, 126);
    --black: rgb(0, 0, 0);
}


.container {
    background-color: silver;
    display: flex;
    flex-direction: row;
}

.playground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    background-color: rgb(119, 118, 118);
    margin: 5px;
    max-width: 200px;

}

.codeInput {
    flex-direction: column;
}

.dot {
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    z-index: -1;
}